<!DOCTYPE html>
<html>
<head><title>Ajout produit</title></head>
<body>
  <h1>Ajouter un produit</h1>
  <form method="post">
    Nom produit : <input name="product_name"><br>
    URL Amazon : <input name="amazon"> <small>ex: https://www.amazon.com/Apple-iPhone-Starlight-T-Mobile-Renewed/dp/B0BN74TKH5</small><br>
    URL eBay : <input name="ebay"> <small>ex: https://www.ebay.com/itm/226447947273</small><br>
    URL BestBuy : <input name="bestbuy"> <small>ex: https://www.bestbuy.com/site/apple-iphone-14-128gb-unlocked-blue/6507560.p?skuId=6507560</small><br>
    <input type="submit" value="Lancer scraping">
  </form>
</body>
</html>
